*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "cairo", serif, sans-serif;
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

header{
  padding: 1rem;
  text-align: center;
  background-color: rgb(103, 103, 180);
  margin-top: 15px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

main section {
  margin: 0.5rem;
  padding: 1rem;
  background-color: darkcyan;
}
main section {
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgb(32, 13, 117);
}

.child1, .child2, .child3{
  border: 1px solid;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
}
h1, h2{
  color: white;
  padding: 0.5rem;
}

h3{
  background-color: rgb(9, 6, 19);
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}
a:hover{
  padding: 1rem;
  color: blue;
}

h4, a{
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

p {
  padding: 2em;
  font-size: 1.5rem;
  color: white;
}

.footer-container{
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(103, 103, 180);
  text-align: center;
  padding: 1rem;
  margin-bottom: 1em;
}
.footer-container div{
  text-align: center;
  margin: -30px;
}
