* {
  margin: auto;
  padding: 0;
}

header {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 1rem;
}
body {
  max-width: 90%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}