@media only screen and (min-width: 64rem) {
  nav ul {
    display: flex;
    margin-left: 2vw;
    justify-content: center;
  }
  nav button {
    display: none;
  }
  nav ul.open {
    display: flex;
  }
  .date {
    font-size: 2rem;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .base-footer {
    display: flex;
    padding: 0;
    font-size: 1.1rem;
  }
  .copy-right {
    display: flex;
    margin: auto;
  }
}
