@media only screen and (min-width: 36rem) {
  nav ul.open {
    display: none;
  }
  .logo img {
    width: 180px;
  }
  .heading-p {
    font-size: 0.9rem;
  }
  .box-1{
    grid-column: 1/3;
  }
  .heroimg{
    grid-column: 1/3;
  }
  .news{
    grid-column: 1/3;
  }
  .join{
    grid-column: 1/3;
  }
  .box-events{
    margin: auto;
  }
  main section.sportlight {
    display: flex;
  }
  .sportlight{
    grid-column: 1/3;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-logo {
    display: flex;
    flex-direction: row;
  }
  .footer-heading{
    text-align: left;
    margin-left: .5rem;
  }
  .footer-p,
  .address{
    margin-left: -6px;
    font-size: 13px;
  }
  .gallery-container .gallery-heading {
    font-size: 1em;
  }
}
