@media only screen and (min-width: 36rem) {
  nav ul.open {
    display: none;
  }
  .logo img {
    width: 180px;
  }
  .heading-p {
    font-size: 0.9rem;
  }
  main {
    grid-template-columns: 1fr;
    /* grid-area: auto; */
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-logo {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .footer-p,
  .address {
    margin-top: 0px;
    margin-left: 5px;
  }
  .footer-heading {
    text-align: left;
    /* padding: 1px; */
  }
}
