body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#head-box {
  display: flex;
  padding: 2px;
  justify-content: space-between;
}

header {
  background-color: #0d2c54;
  padding: 5px 0;
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  margin: 1rem 2vw;
}
.logo img {
  width: 120px;
}
.nav-box img {
  width: 30px;
  height: auto;
  padding: 0.5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
  font-size: 1rem;
  color: #ffffff;
}
.heading-p {
  letter-spacing: 1pt;
  color: #e2fcef;
  font-weight: 700;
  margin-top: 1px;
  font-size: 0.7rem;
  text-align: left;
}

.date {
  margin: 0.5rem;
  text-align: center;
  background-color: aqua;
  padding: 0.75rem;
  color: #0d2c54;
}
.social {
  margin-right: 1.5rem;
}
.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1em;
}

nav {
  background-color: #0d2c54;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #ffffff;
}
nav ul li a {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #ffffff;
}
nav ul li a:hover {
  background: #ffffff;
  color: #0d2c54;
}

nav ul {
  display: none;
  justify-content: end;
}

nav ul.open {
  display: none;
}

#hamburgerBtn span:nth-child(1) {
  display: none;
}
#hamburgerBtn span:nth-child(2) {
  display: block;
}
#hamburgerBtn.open span:nth-child(1) {
  display: block;
}
#hamburgerBtn.open span:nth-child(2) {
  display: none;
}
.gridarea {
  display: grid;
  grid-gap: 20px;
}
main {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  background-color: #e2fcef;
  font-family: "Lato", sans-serif;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.box-1 {
  position: relative;
  top: 10px;
  left: 10px;
}
.callToAction {
  position: absolute;
  top: 50px;
  left: 100px;
  background-color: rgba(52, 45, 161, 0.6);
  border: 1px solid #1368d8;
  border-radius: 10px 10px 10px 10px;
  padding: 0.5rem;
  box-shadow: 0 0 20px #0d2c54;
  color: #e2fcef;
}
picture.heroimg img {
  display: block;
  width: 97%;
  margin: 0 2%;
}
img {
  width: 100%;
}
main section {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
  gap: 20px;
}
footer {
  background-color: #0d2c54;
  color: #e2fcef;
  text-align: center;
  padding: 0.4rem;
  font-size: 1rem;
}

.footer-logo {
  display: grid;
  grid-template-columns: 1fr;
  color: #e2fcef;
  padding: 0;
  margin: auto;
}
.footer-logo img {
  width: 130px;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-align: center;
  margin: auto;
}
.contact img {
  width: 30px;
}

.footer-logo,
.contac,
.base-footer {
  font-size: 0.8rem;
}
.weather {
  max-width: 80%;
  padding: 0.5rem;
}

p {
  padding: 0.5rem;
  font-size: 1rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
