@media only screen and (min-width: 64rem){
  .navBtn button{
    display: none;
  }
  nav ul#primaryNav{
    display: flex;
    margin-left: 2vw;
    justify-content: center;
    padding: 10px;
  }
  nav ul li a{
    padding: .5rem 1rem;
    border: none;
  }
  form label.top input,
  form label.top textarea {
    width: 100%;
    max-width: 35rem;
  }
  form fieldset{
    max-width: 100%;
  }
  .temples-main div h4{
    padding: 5px;
    width: 90%;
    max-width: 20rem;
    color: #e2fcef;
  }
  .service-main {
    grid-template-columns: 1fr 1fr;
  }
  .service-img2{
    grid-column: 2/3;
  }
  .list2{
    grid-column: 1/2;
    grid-row: 2;
  }
  .list2 h2,
  .list h2{
    margin: 7px;
  }
  .service-main ul,
  .service-main ul li{
    margin: 5px;
    padding-top: 3px;
  }
  .service-img1 img{
    padding-top: 10px;
  }
  main{
    max-width: 90%;
    /* margin-left: 5px; */
  }
  footer .baseFooter{
    font-size: 1.8em;
  }
  .home-grid {
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto auto auto;
  }
  .banner-box{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .banner-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about{
    grid-column: 1/4;
    grid-row: 3/3;
  }
  .forcast{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
    margin-top: 5px;
  }
  .forcast section h2{
    width: 100%;
    font-size: 1rem;
  }
  .weather{
    grid-row: 1/2;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 92%;
  }
  .forcast section:nth-of-type(3){
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 0;
  }
  .home-grid section p{
    margin: 0;
    font-size: 1rem;
  }
  .contact-main{
    grid-template-columns: 1fr;
    max-width: 95%;
  }
  .contact-main section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .contact-main section .content{
    grid-column: 1/3;
    grid-row: 1/2;
    justify-content: center;
    text-align: center;
  }
  .contactform form label.top input,
  .contactform form label.top textarea {
    width: 100%;
    max-width: 25rem;
  }
  .contact-main section .contactInfo{
    grid-column: 2/2;
  }
  .contact-main section .contactform{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .missionary-main{
    max-width: 80%;
  }
  .missionary-main-area{
    grid-template-columns: 1fr;
  }
  .box1,.box2,.box3{
    display: grid;
    grid-template-columns: 450px 1fr;
  }
  .box1{
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .box2{
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .box3{
    grid-column: 1/2;
    grid-row: 5/7;
  }
}