@media only screen and (min-width: 35rem){
  header .social img{
    width: 50px;
    padding: 7px;
  }
  .headbox{
    justify-content: space-evenly;
  }
  .logoBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: auto;
  }
  .logoBox section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerContact{
    grid-column: 2/3;
  }
  .form-main h2{
    width: 30rem;
  }
  .banner-box{
    grid-column: 1/3;
  }
  .about {
    grid-row: 2/3;
  }
  .forcast h4{
    display: none;
  }
  .forcast{
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
  }
  .forcast section:nth-of-type(3){
    display: none;
  }

}